<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>JNET</title>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta id="viewport" name="viewport">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>

    <link href="css/style.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/vendors/html5shiv.js"></script>
    <![endif]-->

</head>

<body class=<%= bodyClass %>>
