$fontNameRegular: 'proxima_nova_rgregular';
$fontNameBold: 'proxima_nova_rgbold';
$fontNameLegacy: 'proxima_nova_rgregular';

$headerHeight: 60px;
$bottomBarHeight: 60px;
$avaHeigth: 180px;
$leftSidebarWidth: 180px;
$rightSidebarWidth: 280px;

$contentOffsetLeft: 40px;
$contentOffsetRight: 40px;
$sidebarROffsetLeft:15px;

////////////not used
$wrapper-width: 940px;
$bgColor: #dbe5ee;
$textColor: #000;
$linkColor: #519fff;

